[2015-12-04 01:27] robmyers opened #1 "Tell user when there are no browse results"
Rather than just showing an empty table, have an informative message.

[2015-12-04 01:36] mattl opened #2 "Changing the license on an image doesn't take me anywhere"
Amstrad PCW512, running a browser made of cat hair and string.

[2015-12-04 01:37] mattl opened #3 ""All Rights Reserved 4.0 International""
All Rights Reserved broke up in 1969 after version 3.11 for Workgroups.

[2015-12-04 01:39] mattl opened #4 "Allow for the uploading of text documents, videos and sounds"
* Text Documents should just be Markdown stored in a file on disk.

Videos and sounds should just be blobs on disk. Let's assume common formats and not check for now. Don't allow people to upload viruses, PDFs and php files ;)

[2015-12-04 01:39] mattl opened #5 "highlight the menu you're on"
works for browse, for not others

[2015-12-04 01:40] mattl opened #6 "Move logout into a dropdown under username along with "My profile""

[2015-12-04 01:40] mattl opened #7 "Can't browse for things without a keyword"
But keywords weren't required so I didn't put one.

[2015-12-04 01:41] mattl opened #8 "Attribution-ShareAlike-NC appears twice in the menu of licenses"
I know its your favorite license, but there's no need to promote it so much.

[2015-12-04 01:42] mattl opened #9 "Extend your search to a wildcard"
"liber" should show me Libertines.

Why am I listening to the Libertines? not sure.

[2015-12-04 01:43] mattl opened #10 "Change download button icon"
There's a glyph for download. The current one is dropdown menu. I was hoping you were going to offer me an ASCII art rendering of a horse, and now I'm sad.

[2015-12-04 01:44] mattl opened #11 "Change license should be a red button"

[2015-12-04 01:44] mattl opened #12 "Download or copy attribution should be green"
What's the default action?

[2015-12-04 01:45] mattl opened #13 "How many results found?"
I'd like to know, especially if its 0.

[2015-12-04 01:46] mattl opened #14 "work_id 5 is the best work"

[2015-12-04 01:46] mattl opened #15 "link 'model platform' to browse page"

[2015-12-04 01:47] mattl opened #16 "when logged in, the homepage should just be browse"
and not be a thing

[2015-12-04 01:48] mattl opened #17 "improve dropdown menu"
use <optgroup> to have full copyright (at the bottom) then work back up from BY-NC-ND to 0 with groups for public domain and free culture licenses.

[2015-12-04 17:06] robmyers commented on #14
I'll enforce this at the schema level and via CSS.

[2015-12-04 17:06] #14 closed

[2015-12-04 17:08] robmyers commented on #2
@mattl  Please pull the latest commit or try the version on rob.tech at /mp/ , this should be fixed.

[2015-12-04 17:15] robmyers commented on #8
Haven't you read "Nudge"?

[2015-12-04 17:15] #8 closed

[2015-12-04 17:15] mattl commented on #8
![](http://leftfootforward.org/images/2012/02/Nudge1.jpeg)

[2015-12-04 17:16] robmyers commented on #15
I'm going to link it to the welcome page, then let the logic from #16 take care of it.

[2015-12-04 17:16] mattl commented on #2
Nope.

Leaves me on the same page where I can change the license again and again and again.

[2015-12-04 17:17] robmyers commented on #15
Remove "Home" link or keep?

[2015-12-04 17:18] mattl commented on #15
remove

[2015-12-04 18:01] robmyers commented on #15
Removed.

[2015-12-04 18:01] #15 closed

[2015-12-04 18:04] robmyers commented on #16
We redirect to ?action=browse when / is requested and the user is logged in.

(Actually when they request '' but you get the idea.)

[2015-12-04 18:04] #16 closed

[2015-12-04 18:05] robmyers commented on #2
Where should it take you? Changing the license is so cool I assume the user will want to do it as much as possible. We should gamify it, give them a star for each time they change a license. Two for changing to NC-SA.

[2015-12-04 18:08] robmyers commented on #10
It was going to allow you to download it in different formats, e.g. PC, Mac, Amstrad.

Now using download-image-alt instead as per suggestion.

[2015-12-04 18:08] #10 closed

[2015-12-04 18:11] robmyers commented on #11
It's default style to make it less emphasized, as we don't want people being drawn to it a la Stimpy in "Space Madness". We also shouldn't use just colour for emphasis for obvious reasons.

If you'd really like this change, please enter your GPG private key for confirmation.

Also - should we have some text warning people about irrevocability or is that the sort of thing we need to review with oth

[2015-12-04 18:17] robmyers commented on #17
This is a bit of a pain to implement (the current logic is simple, and goes with the Those Numbers order for the licenses). Can I just re-order them?

Also we don't currently support PDM, "No known copyright restrictions", or US Govt. work. Should we? Again, I'd rather not.

However, if we do add the divisions:

[code]

[2015-12-04 18:17] robmyers commented on #13
See #1.

We don't paginate (and I want to avoid that overhead) so the count isn't vital.

[2015-12-04 18:29] robmyers commented on #13
Combined with #1.

[2015-12-04 18:29] #13 closed

[2015-12-04 18:29] robmyers commented on #1
We now do this.

[2015-12-04 18:29] #1 closed

[2015-12-04 18:30] robmyers commented on #12
There isn't one, and there probably shouldn't be one as we cannot know the user's intent.

[2015-12-04 18:32] robmyers commented on #3
Sib do you even Vaporwave?

Fixed, thanks.

[2015-12-04 18:32] #3 closed

[2015-12-04 18:34] robmyers commented on #5
Added for upload and username/profile menu.

[2015-12-04 18:34] #5 closed

[2015-12-04 18:35] robmyers commented on #2
It now redirects to the display page.

[2015-12-04 18:35] #2 closed

[2015-12-04 18:40] robmyers commented on #9
It does show you The Libertines. You need to upload an image of The Libertines with the name "The Libertines" in the title, then it will find it as long as you specify the correct license or "Any" in the search.

[2015-12-04 18:40] #9 closed

[2015-12-04 18:42] robmyers commented on #7
This will require javascript.

[2015-12-04 19:05] robmyers commented on #7
Added javascript.

We filter out words shorter than 3 characters when searching but we enable the button when you've typed just 1. This is so people don't complain that this bit is broken.

[2015-12-04 19:05] #7 closed

[2015-12-04 19:07] robmyers commented on #11
Changed.

[2015-12-04 19:07] #11 closed

[2015-12-04 19:09] robmyers commented on #12
I therefore changed copy to "info" and download to "success", which is for "a positive action".

[2015-12-04 19:09] #12 closed

[2015-12-04 19:28] robmyers commented on #6
Moved, and moved to right.

The username and profile menu entries are bolded if you're on the profile page.

[2015-12-04 19:28] #6 closed

[2015-12-04 19:57] robmyers opened #18 "Implement "Copy Attribution" Function on display page"
Use clipboard.js from a CDN.

[2015-12-04 19:59] robmyers commented on #18
Implemented. This won't work on older browsers (and current Iceweasel...).

The copied text deliberately ends with a newline so that it pastes into text editors in an unsurprising way. If this is actually surprising we can remove it.

[2015-12-04 19:59] #18 closed

[2015-12-04 20:10] mattl opened #19 "do a search, get results or not... search button is disabled"

[2015-12-04 20:11] mattl opened #20 "sanitize inputs"
see work_id=6

[2015-12-04 20:28] robmyers commented on #20
Fixed in b6a12a7 .

[2015-12-04 20:28] #20 closed

[2015-12-04 20:33] robmyers commented on #19
Fixed in 5ca5e3f. Thank you for catching this.

[2015-12-04 20:33] #19 closed

[2015-12-04 21:42] robmyers commented on #4
Can we avoid text for now?

[2015-12-04 21:44] mattl commented on #4
Okay
On Dec 4, 2015 3:42 PM, "Rob Myers" <notifications@github.com> wrote:

[2015-12-04 23:29] robmyers commented on #4
Added in 2f88096 .

[2015-12-04 23:30] robmyers commented on #4
Markdown isn't rendered, that would require an extension.

We also can't easily differentiate between ogg audio and ogg video, so all ogg is treated as video. This allows it to play but we use the wrong icon for example.

[2015-12-04 23:30] #4 closed

[2015-12-04 23:32] mattl commented on #4
Can you remove the item with the JavaScript in it from my items?

[2015-12-04 23:36] robmyers commented on #4
No. You've only yourself to blame.

On Fri, Dec 4, 2015 at 3:32 PM, Matt Lee <notifications@github.com> wrote:

[2015-12-04 23:38] robmyers commented on #4
OK, removed.

[2015-12-04 23:55] robmyers commented on #17
Implemented in af84b97 . Let me know if any of the labels or ordering need changing.

[2015-12-04 23:55] #17 closed

[2015-12-06 02:48] zenorocha commented on #18
clipboard.js creator here. Let me know if you need something.

[2015-12-08 18:59] robmyers commented on #18
Hi @zenorocha . Nothing at the moment but thank you for clipboard.js!

[2015-12-08 18:59] zenorocha commented on #18
;)

[2015-12-09 19:41] janeatcc opened #21 "Add link to About CC section in following places"
?action=browse
?action=search

text for should be something like "What is Creative Commons? Learn more[link]"

?action=new

text should be something like "Learn more about the licenses"

[2015-12-09 19:42] janeatcc opened #22 "nix categories on upload"
at ?action=new

I would get rid of FC categories and keep or add

Public Domain
CC licenses
Default Copyright

[2015-12-09 19:44] janeatcc opened #23 "nix categories on search"
I would do same categories on upload as search, so at ?action=search

Nix FC category and add CC licenses

Also, does "Any" include ARR copyright?

[2015-12-09 21:51] janeatcc opened #24 "create file for jane to add toolkit"

[2015-12-14 22:16] robmyers commented on #23
Any does include ARR, at the code level we just ignore that column completely.

[2015-12-15 19:40] janeatcc commented on #23
Good! Might be worth clarifying that it is under any terms, not just any license then. The model doesn't seem to be up for me to click through anymore so let me know when it's ready for another round of feedback..

[2015-12-16 17:12] janeatcc opened #25 "Add license icons to sit next to each license description"
In search and browse and anywhere else

[2015-12-16 18:16] janeatcc opened #26 "changing license function does not work"

[2015-12-16 18:16] janeatcc opened #27 "white icon on grey background"
see
![icon white against grey](https://cloud.githubusercontent.com/assets/6394777/11849718/16603bc6-a3de-11e5-83d4-b1dd72865c6b.jpg)

[2015-12-16 18:17] janeatcc opened #28 "copy attribution button doesn't work"
as discussed on call, flagging here to keep track

[2015-12-16 18:18] janeatcc commented on #25
eg. i mean here:
![license desc](https://cloud.githubusercontent.com/assets/6394777/11849750/48ec906c-a3de-11e5-8b9e-7ab03e6534b6.jpg)

[2015-12-17 00:57] robmyers commented on #28
Which browser model, please? I checked it on the latest firefox and it's OK, scripted but copy to clipboard is a new technology in web browsers. It should fall back to displaying a text field for the user to copy from if the clipboard fails.

[2015-12-17 01:03] robmyers commented on #27
Yes this is an explicit design decision - they float otherwise (that's the reason for the grey well around the attribution blcok as well).

Without that they look like this:

![licpos](https://cloud.githubusercontent.com/assets/21746/11858464/b2f7fc7a-a416-11e5-90d8-0e2b8163b9e8.png)

Notice the poor alignment, it's even worse for single icons like BY or CC0.

The alternative was to frame the icon

[2015-12-17 01:04] mattl commented on #27
black text, grey background with a 1px border in dark grey

[2015-12-17 01:04] robmyers commented on #26
Database was broken on tech, fixed. Thank you for reporting this.

[2015-12-17 01:04] #26 closed

[2015-12-17 01:05] robmyers commented on #23
Option changed to "Any Terms" in next version.

[2015-12-17 01:05] #23 closed

[2015-12-17 01:07] robmyers commented on #22
The next version uses these section.

Are we OK with "Default Copyright"? I wanted something relatively neutral and descriptive.

[2015-12-17 01:07] #22 closed

[2015-12-17 01:07] mattl commented on #28
needs to not use relative links

[2015-12-17 01:08] robmyers commented on #24
jane has created and added this file.

[2015-12-17 01:08] #24 closed

[2015-12-17 01:08] robmyers commented on #28
@mattl Implemented in next version.

[2015-12-17 01:23] robmyers commented on #21
Added in next version. This is currently below the list of licenses so it's immediately above the "about CC" ink in the footer and linked to the same location.

If this is not OK I can move the link higher, or remove it and rename "About CC" in the footer to "What Is Creative Commons" or "About Creative Commons".

[2015-12-17 01:23] #21 closed

[2015-12-17 16:59] janeatcc commented on #28
can't test now b/c model is not up

[2015-12-17 17:00] mattl commented on #28
you may need to hit up the src/ directory

[2015-12-17 17:01] janeatcc commented on #28
chromium Version 45.0.2454.99 (64-bit)

[2015-12-17 17:03] janeatcc opened #29 "drop-down search and browse filters indents mis-aligned"
on both search and browse, see

<img width="439" alt="model indent" src="https://cloud.githubusercontent.com/assets/6394777/11876162/0dfbd520-a49d-11e5-93de-ebfcdec180c4.png">

[2015-12-17 17:04] mattl commented on #29
Fixed.

[2015-12-17 17:15] janeatcc commented on #29
Cool, doesn't update for me but I assume it does in the final.

[2015-12-17 17:23] janeatcc commented on #29
actually, still misaligned when i try another browser.

[2015-12-17 17:24] mattl commented on #29
Fixed in the code, not live yet.

[2015-12-17 17:24] #29 closed

[2015-12-17 17:26] janeatcc opened #30 "markdown - expandable sections"
Can we add support for this, or does this already work with markdown on Github? Need it for actual [toolkit text](https://github.com/creativecommons/mp/blob/master/platform-toolkit.mdwn), default to hide some lengthy sections.

http://answers.squarespace.com/questions/16924/how-do-i-create-hideshow-text-on-a-page-like-you-see-with-faqs

[2015-12-17 17:27] janeatcc opened #31 "format toolkit text once "final" to github in mkdwn"
https://github.com/creativecommons/mp/blob/master/platform-toolkit.mdwn

[2015-12-17 17:35] mattl commented on #30
This isn't something I believe Markdown supports.

[2015-12-17 17:37] janeatcc commented on #30
What's an alternative then? HTML? Would rather do in html if it supports it b/c this is something we need for toolkit.

[2015-12-17 17:40] janeatcc opened #32 "take screenshots of model once final"
@robmyers let me know when it's pushed out in final shape (with issues resolved) so i can take screenshots

[2015-12-17 18:32] robmyers commented on #30
The example given is something we can do, with two constraints:

1. It has to apply to *every* block of text under e.g. a level 2 header (## or ------- in Markdown). We cannot exclude some level 2 headers, it has to be all or nothing. But it could be level one headers or some other block marker instead.

2. It will not work in the Markdown file itself, only when the Markdown file is rendered to ht

[2015-12-17 18:40] janeatcc commented on #30
Ok let's apply it to a block marker that is unique and won't be used for anything else. That or all level 5 headers or something.

This seems acceptable to me. Do I need to recreate https://github.com/creativecommons/mp/blob/master/platform-toolkit.mdwn or just move it inot the folder you're talking about?

[2015-12-17 18:47] robmyers commented on #28
Oh that should be supported (as of Chromium 43):

http://caniuse.com/#feat=clipboard

The way it is meant to work is:

1. The user clicks on the "Copy Attribution" button.
2. Where the clipboard is supported, the code copies the attribution string to the clipboard. Where the clipboard is not supported, it shows a text field allowing the user to copy the attribution manually.
3. The user can now pa

[2015-12-17 18:49] robmyers commented on #27
If we were to go that route would we be better off just using the buttons?

[2015-12-17 18:54] janeatcc commented on #28
Got it. It works. But it is not obvious to the user what is happening. Can some kind of notice be given that attribution has been copied to clipboard?

[2015-12-17 19:05] robmyers opened #33 "License Explanation Panel"
@mattl @janeatcc I'm worried that the panel under the license choosers that lists all the licenses and highlights the one the user currently selected takes up too much space/is too intrusive as an example. Should we roll this information into the drop-down menu, show just the information for the currently chosen license, or is the current behaviour good?

[2015-12-17 19:14] janeatcc commented on #33
I agree. Those search and browse pages should really just have a link to the About CC page. And at most just the highlighted filter.

[2015-12-17 23:15] mattl commented on #28
Suggest maybe change the button class?

[2015-12-17 23:15] mattl commented on #27
I'd say so, but I think @janeatcc wants the icons.

Jane, based what on what Rob said about the floating appearance, how do you want the icons to appear?

@robmyers Possible to divide the page up into col-9 and col-3 and put all the copyright info, download, etc on the right, under the image?

[2015-12-18 00:31] janeatcc commented on #27
I think just white background is fine in that case.

[2015-12-18 01:18] robmyers commented on #30
Added for h2s, but we can target another header instead if preferred. We cannot target a particular block marker (e.g. class="collapse")without adding html to the markdown.

I've moved platform-toolkit.mdsn and added some lorem ipsum to demonstrate the effect.

[2015-12-18 01:32] robmyers commented on #28
We now pop an alert area under the Copy Attribution button that tells the user they have copied successfully.

It would look better above or beside the button, but above would move the button and might cause the user to click in the wrong place, and beside would end up under the button anyway on smaller devices.

[2015-12-18 01:32] #28 closed

[2015-12-18 01:34] janeatcc commented on #30
We don't want it for H2's. Can you make it for H5's or H4's? It will only apply to certain sections.

[2015-12-18 01:38] robmyers commented on #30
It has to apply to all sections of the same kind at present. We can apply to h5s or h4s as desired, those are #### or ##### in markdown. Or if we got to html we can target arbitrary areas, but then we lose the simplicity of markdown. Maybe let's see how a more finished version of the document looks then work out which level is best to target?

[2015-12-18 01:38] robmyers commented on #33
@mattl ?

[2015-12-18 01:39] mattl commented on #33
agreed. link it up yo.

[2015-12-18 01:42] janeatcc commented on #30
Sure, but I say H5's so I can just use all the previous headers for
non-expandable sections.

On Thu, Dec 17, 2015 at 5:38 PM, Rob Myers <notifications@github.com> wrote:

--
Jane Park
@janedaily
Creative Commons | Los Angeles

Make a donation to support CC in 2015: http://bit.ly/supportcc2015

[2015-12-18 01:43] robmyers commented on #25
Superceded by #33. Will not implement.

[2015-12-18 01:43] #25 closed

[2015-12-18 01:44] mattl commented on #32
I'll take em. I can get the sizes perfect.

[2015-12-18 01:56] robmyers commented on #33
We could move "What is creative commons learn more<LINK>" next to the "License" title as "About the liceses" or "Learn more" or "Help".

![aboutcc2](https://cloud.githubusercontent.com/assets/21746/11887267/65af4866-a4e7-11e5-9569-afe012d71bb3.png)

Or we can keep it under the browse button.

![aboutcc1](https://cloud.githubusercontent.com/assets/21746/11887270/6bf3a956-a4e7-11e5-96ae-9457bad2ab5c

[2015-12-18 01:57] robmyers commented on #27
Keeping white background for now.

[2015-12-18 01:57] #27 closed

[2015-12-18 02:02] janeatcc commented on #33
I like the first -- moving up to next to License.

On Thu, Dec 17, 2015 at 5:56 PM, Rob Myers <notifications@github.com> wrote:

--
Jane Park
@janedaily
Creative Commons | Los Angeles

Make a donation to support CC in 2015: http://bit.ly/supportcc2015

[2015-12-18 02:24] robmyers commented on #33
Moved, see tech .. /mp/src/?action=search for an example.

[2015-12-18 02:24] #33 closed

[2015-12-18 02:24] robmyers commented on #33
Thank you for everyones input on these. :-)

[2015-12-18 04:22] janeatcc commented on #30
Ok, I've added here https://github.com/creativecommons/mp/blob/master/doc/platform-toolkit.mdwn.

The sections we want to hide and click to expand are:

Content owned by your users:
Content owned by the platform:
Third party content contributed to the platform:
In the most simple and accessible terms possible, the TOS should explain how CC licensing works for content creators on the platform.
The

[2015-12-18 16:45] janeatcc commented on #32
Cool. Wanna send them over to me once you have them?

[2015-12-19 01:28] #31 closed

[2015-12-19 01:29] janeatcc commented on #30
Hey @robmyers, what's the status of this? Can we resolve this Monday?

[2015-12-19 01:29] janeatcc commented on #32
Hey @robmyers -- I think the model platform is all done now right? @mattl, do you think you can send me those screenshots Monday? If not, I'll take them. Need to close this out Monday and send final update to WMF. Thanks!

[2015-12-21 17:53] janeatcc opened #37 "html files edited - need to be pushed to live platform"

[2015-12-21 18:08] robmyers commented on #37
I have deployed this.

Is it worth adding something about All Rights Reserved and CC0 to the CC page? They could be worked in under Sections For Default Copyright ("CC licenses are copyright licenses...") and Public Domain ("In addition to CC's licenses...").

[2015-12-21 18:08] #37 closed

[2015-12-21 18:12] janeatcc opened #38 "add cc0 text to about CC page"

[2015-12-21 18:15] robmyers commented on #30
The h5 elements don't look like titles with their default styling. So when the content under them is collapsed they just look like orphaned sentences.

I suggest not using the collapse at that level. So either moving it to somewhere between h1..h4 or (probably my preferred option) not using it.

[2015-12-21 18:32] janeatcc commented on #30
I can't move to h4 b/c we have headings under h4. And all the other H1-h4
are in use for navigation links. How about if we use H5 but also add in the
title (show/hide) or other explanatory text that makes it obvious that the
section is expandable? We definitely need collapsable secdtions for the the
ultimate styled webpage.

On Mon, Dec 21, 2015 at 10:15 AM, Rob Myers <notifications@github.com>
wr

[2015-12-21 19:33] janeatcc opened #39 "standard circular icons -link?"
can i have a link to them now that they've been developed?

[2015-12-21 19:36] robmyers commented on #30
I have made the h5 text bold, added a triangle before it, and made it so it turns blue and underlines like the old visual style of a hyperlink when the mouse pointer is moved over it. We couid add some show/hide text with javascript, I didn't think of that before. Let me know if that is preferable or if it should be added.

You can see the current results at tech.../mp/doc/platform-toolkit.html

[2015-12-21 20:03] janeatcc commented on #30
Yes, that works. Let's make sure that will happen for each h5 heading (as I
think some large chunks of text disappearing under the first one under
Checklist).

On Mon, Dec 21, 2015 at 11:37 AM, Rob Myers <notifications@github.com>
wrote:

--
Jane Park
@janedaily
Creative Commons | Los Angeles

Make a donation to support CC in 2015: http://bit.ly/supportcc2015

[2015-12-21 20:07] mattl commented on #39
These are only in the model platform right now, but we can make a copy of these for a more general audience if needed: https://licensebuttons.net/i/cc-gift-guide/

[2015-12-21 20:17] #39 closed

[2015-12-21 20:24] robmyers commented on #30
Chunks were disappearing, thank you for reporting that. I have fixed that bug. Please see tech../mp/...

[2015-12-21 20:39] janeatcc commented on #30
Looks good. I rearranged some text so that some of the chunks wouldn't
disappear.

On Mon, Dec 21, 2015 at 12:24 PM, Rob Myers <notifications@github.com>
wrote:

--
Jane Park
@janedaily
Creative Commons | Los Angeles

Make a donation to support CC in 2015: http://bit.ly/supportcc2015

[2015-12-21 21:05] janeatcc opened #40 "please add images to github folder"
Gdrive folder with images: https://drive.google.com/drive/folders/0B8aD_Zr0ZfRBNkJHRU9WYzFFSzQ

Github folder: https://github.com/creativecommons/mp/tree/master/doc/images

[2015-12-21 21:07] janetpkr opened #41 "batch uploads in model platform"
is that a function in it currently? if not, could we add that down the line?

[2015-12-21 21:09] robmyers commented on #30
OK cool. I'm glad that's working now.

[2015-12-21 21:09] #30 closed

[2015-12-21 21:26] janeatcc commented on #40
please also add the images in this subfolder: https://drive.google.com/drive/folders/0B8aD_Zr0ZfRBU2tHSG95bDNyYlU

[2015-12-21 21:39] robmyers commented on #40
Should the subfolder be copied as a folder, or should the images be copied into the images folder?

If it should be a subfolder please can we remove the spaces from the name, e.g. change it to OtherPlatformImages.

[2015-12-21 21:48] robmyers commented on #40
Added, and added. :-)

[2015-12-21 21:48] #40 closed

[2015-12-21 22:46] #32 closed

[2015-12-21 22:52] #38 closed

[2016-01-04 15:53] mzeinstra opened #42 "Metadata for display section could use some additions for multiple media files/per page"
You could add additional html per attribution statement to connect the attribution to a particular media file. This is useful for search engines and other machine readers, as they cannot determine which file is described by the RDFa. The CCrel primer talks about adding a div with an about tag.

[code]
to something like:
[code]
as described in https://wiki.creativecommons.org/images/d/d6/Ccrel-1.0.

[2016-01-04 15:56] mzeinstra opened #43 "Logos and icons: should we promote the use of the CDN hosting the logo's?"
You are able to number of times a cc icon is loaded from your CDN, should this guide promote the hotlinking of those images over downloading them for the use on platforms?

[2016-01-04 18:40] janeatcc commented on #43
Good question. @robmyers created this set of circular icons for linking, like we link to the buttons when people choose to license from our chooser: https://licensebuttons.net/i/cc-gift-guide/.

However when it comes to platform use, platforms have never used linking to buttons, but tend to download and customize the icons to fit the design of their user interface. I'm hesitant to prescribe hotlin

[2016-01-04 19:51] janeatcc commented on #42
I like this addition. So the text would be something like,

"If you want to associate the CC license metadata with a particular media file, wrap the metadata in div tags.

[code]
_explanation_: about defines the subject of metadata within the div. Here we have about="", which
defines the subject to be the URL of the media file."

[2016-01-04 23:32] mattl commented on #43
We can offer it if they'd like it, I suspect most won't, but perhaps smaller platforms or free software projects will.

[2016-01-05 12:32] mzeinstra commented on #42
Yes, that would do.

(although your explanation and code snippet are out of sync).

Would be good to have this in the model platform code as well.

[2016-01-05 12:36] mzeinstra commented on #43
to be able to measure the impact of platforms would be a great asset, offering it to platforms would not make it more complicated.

I agree with Matt that most platform would probably copy the files, but every hit on those files counts for the state of the commons.

[2016-01-05 17:05] janeatcc commented on #42
What about the code snippet - can you specify? I just copied and pasted over yours. :)

[2016-01-05 17:06] janeatcc commented on #43
Ok, we should recommend in the toolkit at least. Is the gift guide circular logos the set to get people to link to, or will we be creating a different set @mattl @robmyers ?

[2016-01-05 17:08] mattl commented on #43
I'd like to create a bunch in a variety of sizes and colors and host all of
them.

@robmyers we have the script for that now, right?

[2016-01-05 17:14] robmyers commented on #43
I agree that it would be very good to measure usage this way, although people may have privacy concerns.

The script works, we're using it for the Model Platform. It needs tidying up (some of the layout logic is fragile now I've modified it), and if we are offering fixed sizes we should probably replace or wrap it with more of a build system.

[2016-01-05 17:22] mattl commented on #43
I'd like to generate static PNG in 255 color variations with white, black,
grey and transparent backgrounds, in say... 10, 12, 16, 24, 32, 48 and 64
px heights for each of the license combos and deeds.

Any other variants you can think of too.

Organize them by color/height/license..

ie. licensebuttons.net/i/000000/16/by-sa.png

Sure, we don't think may of them will be used, but let's not worry a

[2016-01-06 09:50] mzeinstra commented on #42
And I copied it from https://wiki.creativecommons.org/images/d/d6/Ccrel-1.0.pdf :)

I think your snippet is fine to communicate the idea to developers of the platform.

[2016-01-07 18:42] janeatcc commented on #42
Ok, I'll clean up and have matt and rob do another review before updating.

[2016-01-07 19:01] robmyers commented on #41
We have batch *relicensing*, that's linked from the profile page via the "Change licenses" button.

We don't have batch licensing as in "I have a folder with lots of images that I wish to upload under the same license and attribution terms, for example for my Museum, and I need an efficient interface to manage that process".

If the latter is required, how urgent is it? I can see how to do it, I'd

[2016-01-07 19:03] robmyers commented on #42
Yes this is great, thank you mzeinstra. Shall I add this to the code as specified or do we need to discuss further?

[2016-01-07 19:04] robmyers commented on #43
Is it worth making a build system for this, or should we just stick the script behind (e.g.) Varnish?

[2016-01-07 19:05] mattl commented on #43
Yeah, make something... but just run it, generate all the images and put
them on the server. CF will CDN them for us.

[2016-01-07 19:06] janeatcc commented on #42
If it looks good to you @robmyers, I would go ahead and add as an additional example of code to that section of the toolkit with prefatory and explanatory text like I added above, eg. "We recommend that you associate the CC license metadata with a particular media file because... This is how you do that.. "

[2016-01-07 19:14] janeatcc commented on #41
Yes -- that is default licensing versus batch licensing IIRC.

I wouldn't say it is urgent, but it would be good to have when we publish the HTML version of the toolkit in February. Basically it is illustrating this section of the toolkit (currently using a Flickr screenshot): https://github.com/creativecommons/mp/blob/master/doc/platform-toolkit.mdwn#batch-licensing-for-multiple-works

[2016-01-07 20:50] robmyers commented on #41
Sorry for still not quite getting it - it's the batch *upload* that is
missing, as opposed to the batch *license changing*
, and we need the uploading functionality?

On Thu, Jan 7, 2016 at 11:14 AM, Jane <notifications@github.com> wrote:

[2016-01-07 20:55] janeatcc commented on #41
Ah, no I was the one who misunderstood. I see you can batch relicense. You can't batch upload, but if you could batch upload, you would be able to license the batch in one go.

I don't think it's a priority to add this to the model platform if it's going to take a whole bunch of new code. I would mark this as nice-to-have. If Flickr ever goes under, we can rethink then and add a batch upload/licen

[2016-01-20 16:12] janeatcc commented on #42
Added this at https://github.com/creativecommons/mp/blob/master/doc/platform-toolkit.mdwn#metadata-for-display under "Code associating metadata to a specific media file:" heading

@robmyers @mzeinstra can you take a look?

[2016-01-21 08:36] mzeinstra commented on #42
Looks fine to me.

Only thing I would add is an example of the benefit of additional metadata. For example rel=license might help your content to reach higher in the image search of google when their advances search is set to the cc license.

[2016-01-22 18:56] janeatcc commented on #42
Good suggestion - I added a line to that effect here: https://github.com/creativecommons/mp/blob/master/doc/platform-toolkit.mdwn#license-metadata

[2016-01-22 18:56] #42 closed

[2016-01-27 18:50] janeatcc commented on #43
@robmyers How's this going?

[2016-01-27 18:52] janeatcc opened #44 "ready to start moving toolkit to a cc.org webpage"
Can we link up https://github.com/creativecommons/mp/blob/master/doc/platform-toolkit.mdwn to a page that exists on cc.org, nicely formatted with expandable sections as we discussed last month? I'll start editing again once there is a preview page I can see..

[2016-01-27 18:54] mattl commented on #44
How important are the expandable sections? Asking for a friend.

[2016-01-27 18:55] robmyers commented on #44
Also - @mattl would this be a WordPress page, or something we'd want to roll into the static version of the site, or is this something that needs doing before that?

[2016-01-27 18:56] janeatcc commented on #44
Pretty important. Right now it is all a long block of text that is daunting to any platform wanting to integrate. We want to ease them into it! Design is crucial here. Only enough info at a time.

[2016-01-27 18:57] mattl commented on #44
Maybe split it into sub pages?

[2016-01-27 18:57] robmyers commented on #43
It didn't. I'll look at it now.

[2016-01-27 18:57] janeatcc commented on #44
Then the subpages would never get read.

[2016-01-27 18:59] mattl commented on #44
A page for each section that would be expanded seems reasonable.

[2016-01-27 19:04] janeatcc commented on #44
It does, but I like how we're doing things all on one page, like with SOTC. It's more likely that someone will scroll quickly through one page to find what they want (with navigational links to help direct them) than go back and forth between a lot of dif pages that exist in dif urls. The latter seems more like a book. We want this to be a quick one-stop toolkit.

[2016-01-27 19:05] mattl commented on #44
You have a choice right now: one page with no expandable regions, or a half dozen pages.

That's what we can do right now.

[2016-01-27 19:07] mattl commented on #44
Multiple pages is what I'd expect when trying to implement something, look at any of the platform API documents.... lots of pages.

[2016-01-27 19:08] janeatcc commented on #44
If we do one page, can we do a link after each major heading to navigate back up to the top (eg. TOC area)?

[2016-01-27 19:15] tvol opened #45 "re: Checklist for an ideal TOS"
why include "Website terms of service are not strictly necessary"?

[2016-01-27 19:16] janeatcc commented on #44
The collapsible sections are possible in Rob's version in html on his test site that we did last month. Is it because it is not possible on cc.org?

[2016-01-27 19:16] tvol opened #46 "re: other considerations for TOS"
"the direct license to the platform is in conflict with the CC license" - not how i read it. if the license is for the platform provider itself (which i think it normally is) it just sits alongside the CC license. the problem is if they introduce something in the TOS that then affects how their users of the service can leverage the CC licensed content in a way that is more restrictive than what th

[2016-01-27 19:17] tvol opened #47 "re: Reps & warranties"
spell out what "reps" means

[2016-01-27 19:17] tvol opened #48 "re: learn more section under "Most common conflicts in terms of service""
saying "creative commons" needs to be removed if they impose other contractual restrictions--surely this is true, but seems to negate them even attempting to integrate CC in the first place. how can we address this better?

[2016-01-27 19:17] mattl commented on #44
If you want to add 'back to top' links, you can... i wouldn't, i'd assume the back button in a browser is sufficient.

And yeah, we don't have a way to support them right now. I'm going to check in a version of the page in HTML now, you'll note that the TOC is generated for you, which is probably better than maintaining your own.

[2016-01-27 19:19] mattl commented on #44
https://github.com/creativecommons/mp/commit/e328fee5ddd4e6ecb07c3ed08724a5a9e096311d

Jane, do you have a local copy of the repo?

[2016-01-27 19:21] janeatcc commented on #44
Like on my desktop via GitHub app? Yeah.

[2016-01-27 19:22] mattl commented on #44
Okay, cool... update your local copy and take a look at platform-toolkit.html in your browser. You should see it in a CC webpage style.

[2016-01-27 19:25] janeatcc commented on #44
You mean on Rob's server?

[2016-01-27 19:26] tvol opened #49 "resize .pngs that have lots of empty space at bottom"
not crucial, but could help make the doc shorter

[2016-01-27 19:26] mattl commented on #44
No, from your computer.

[2016-01-27 19:29] janeatcc commented on #44
Nice. Where can I start editing it?

[2016-01-27 19:32] tvol opened #50 "change links such as http://creativecommons.org/ns to https?"
does it matter?

[2016-01-27 19:32] #49 closed

[2016-01-27 19:33] mattl commented on #44
You don't edit the HTML file, you just edit the markdown file as before.

The HTML file is generated.

[2016-01-27 19:34] janeatcc commented on #44
Ok, so edit the markdown file here on Github and view html in browser after I update my local repo for previews. Then when final, it will get generated on cc.org?

[2016-01-27 19:35] mattl commented on #44
For now, you'll need to let me know when you've made a bunch of changes to the Markdown so I can regen the HTML. This will be more automated soon, and yeah, then there'll be some process to get it on creativecommons.org

[2016-01-27 19:38] janeatcc commented on #44
Ok, though seems rather complicated versus me just editing on cc.org WP directly.

I'll let you know when I've made a significant round of edits in Markdown.

[2016-01-27 19:44] mattl commented on #44
Rather than editing a WordPress page, you edit a Markdown file on GitHub instead, that's the only difference.

[2016-01-27 19:46] janeatcc commented on #44
Plus the addition of extra middleman steps to see what it actually looks like, versus just refreshing directly in WP.

[2016-01-27 19:47] janeatcc commented on #50
I don't know. Does it @mattl @robmyers ?

[2016-01-27 19:48] mattl commented on #44
There's a Preview tab in GitHub for your content, the rest is just setting up a process to do it :)

Making things work well takes time. I'm working on this.

[2016-01-27 19:48] janeatcc commented on #48
@sarahpearson can you address?

[2016-01-27 19:49] janeatcc commented on #47
reps = representations, right @sarahpearson?

[2016-01-27 19:49] mattl commented on #50
Anytime anyone at Creative Commons publishes a link to creativecommons.org
it should be HTTPS. If things don't work on that page for whatever reason,
fix them or if you can't, ask me or Rob to fix them. HTTPS-only is the way
things are heading.

[2016-01-27 19:50] janeatcc commented on #44
I know but that's not in CC formatting. But yeah, I will give up this battle. Looking forward to getting this up.

[2016-01-27 19:52] mattl commented on #44
I hope it's not a battle :)

You shouldn't need to worry about "CC formatting" -- instead your content should be well structured and formatted, which you can see via the Preview in GitHub (or anything else you want to use to edit Markdown)

But yeah, I agree a preview is useful before publishing. That's what I'm working on.

[2016-01-27 19:54] janeatcc commented on #45
Because we love it when there are no TOS. Not all platforms need a TOS!

[2016-01-27 19:55] janeatcc commented on #50
Ok, will change.

[2016-01-27 22:16] #50 closed

[2016-01-28 12:39] mzeinstra opened #51 "Static use of Creative Commons materials"
I received a question from a startup using CC licensed photos on their website. They are not a content provider/platform but a tourism agency for a particular region.

Can we add instructions on how to add static images to your webstite. Like how to attribute a CC BY image that is used in the footer or header of your website.

I recommended to make a separate page with a description an the license

[2016-01-28 17:27] janeatcc commented on #51
I don't think this is for platform integration toolkit, but for marking. See marking resources: https://wiki.creativecommons.org/wiki/Marking. Do you want to revise a section that is there?

[2016-01-28 17:47] robmyers commented on #43
@janeatcc @mattl

I've got a build system created. I'm just fine-tuning some of the numbers in the layout code.

Would we ever have a background colour that isn't simply transparent? People could add a background colour with css if needed.

The current image path format is based on the existing one, with colour information added -

l/by-nc-sa/4.0/88x31-00000000-ffffffff.png

where 00000000-fffffff

[2016-01-28 18:03] janeatcc commented on #43
I think having the background transparent is good. Not sure as I can't see it -- do I add that to a url?

[2016-01-28 18:04] mattl commented on #43
My email reply didn't come through, but I said:

I'd like us to provide every color combination we care to, in a folder structure and in a variety of sizes.

Yes, many of them may be a little redundant, but it's easier to just load them all up on licensebuttons.net and provide that as a service to people.

[2016-01-28 18:05] mattl commented on #43
I think there's usefulness to providing multiple background colors, this stuff needs to be easy and not rely on CSS.

[2016-01-28 18:05] robmyers commented on #43
![88x31-ffffff00-000000ff](https://cloud.githubusercontent.com/assets/21746/12653936/947782f0-c5a6-11e5-9c3f-36e28b9bfcc8.png)
^embedded example (with the file name completely changed by uploading to GitHub).

[2016-01-28 18:07] mattl commented on #43
Also Rob, the reason for the folder structure is to prevent having a folder with tons and tons of files in it.

[2016-01-28 18:07] janeatcc commented on #43
Nice. I think we should do transparent on top of the other colors. I imagine that might get used/customized by the platform most.

As for sizes, can we do some standard sizes based on what platforms are doing? eg. let's look at Vimeo, YouTube, Medium, Flickr. Also can we do sizes for mobile?

[2016-01-28 18:08] mattl commented on #43
How do you imagine mobile sizes working? The intention is to make this image clickable, right?

[2016-01-28 18:09] janeatcc commented on #43
Yes, linked to the license deed, as with the buttons.

[2016-01-28 18:09] robmyers commented on #43
@mattl: OK two colours it is. :-) Regarding folder structure, the un-asked part of my question is whether we should make the colour names into one or two levels of folders, or maintain the current folder structure.

[2016-01-28 18:10] robmyers commented on #43
I shall add more sizes.

How do people feel about named (e.g. html named) colours?

[2016-01-28 18:12] mattl commented on #43
Just two? I was imagining at least four... white, black, "grey" and transparent.

Structure would something like.... background/foreground/size/cc-by-sa.png

so 000000/ffffff/32/cc-by-sa.png gives you a 32x32px white on black by-sa image.

I'd say no to named colors :-1:

[2016-01-28 18:13] janeatcc commented on #43
+1 on the white, black, grey, and transparent!

[2016-01-28 18:24] robmyers commented on #43
The two are foreground and background, as in your example. I agree about the order of background/foreground, although it might make more sense cognitively to have the colour of the logo *first*, i.e. foreground/background. So "I'm looking for a red logo, so.. /l/ff0000ff/...".

Also note the use of alpha (the last two bytes).

The sizes are currently rectangular, 80x15 and 88x31. Flickr are using

[2016-01-28 18:26] mattl commented on #43
I'm going to respond to this in full after class, but we shouldn't be providing the single icons.

I think the alpha bytes are confusing, if an interesting hack ;)

[2016-01-28 18:31] robmyers commented on #43
If we make the images always opaque we can lose the alphas. It's just that we're then not able to integrate with background-gray-number-354432523 on someone's new site and they'll generate the icon themselves.

[2016-01-28 18:33] mattl commented on #43
We do want transparent :)

It should be a background-color though.

[2016-01-28 18:34] robmyers commented on #43
Totes. So we can either represent that with a name ("transparent"), by adding the alpha byte just to the background(/l/000000ff/000000/), or by having a rule that white backgrounds are always transparent (which will upset people who want opaque white).

[2016-01-28 18:36] mattl commented on #43
Yeah, I think transparent or alpha is fine for a name there.

[2016-01-28 18:36] robmyers commented on #43
Cool.

[2016-01-28 19:02] janeatcc commented on #43
YouTube uses it in its audio library: https://www.youtube.com/audiolibrary/music

[2016-01-28 19:17] robmyers commented on #43
Ah I missed that, thank you. It's 24x23.

[2016-01-28 20:26] mattl commented on #43
I would imagine that would be an edge case where we'd provide a single license image, but typically we'd only produce a fixed sized image (centered) for all the licenses, right?

ie. a 32x80 (or whatever it is) pixel image that has 1, 2 or 3 license icons arranged in it?

[2016-01-28 22:22] robmyers commented on #43
Yes, centred within the horizontal rectangle.

Path format on license button server:

p/mark/1.0/88x31.png

Current path format:

p/public-domain-mark/1.0/transparent/ffffff/88x31.png

[2016-01-28 22:24] mattl commented on #43
What's 1.0? License version?

We should probably also do Euro and Yen versions of NC, too...

[2016-01-28 22:27] robmyers commented on #43
It is the version.

The Euro/yen symbol is in the font and I agree we should support it. Any mention of nc should expand to all three, so we get three images the same except for the currency symbol.

We can add -e and -y to the file name to differentiate them.

[2016-01-28 22:31] mattl commented on #43
I dunno if the version matters, given that they're identical images ;)

[2016-01-28 23:05] robmyers commented on #43
Will remove version.

[2016-01-28 23:06] robmyers commented on #43
Again, copying the current format. :-)

[2016-01-29 09:53] mzeinstra commented on #43
Sounds like a great idea. Will you catch 404s and have a script make these logo's on the fly?

[2016-02-04 21:11] sarahpearson commented on #45
Agree with Jane. I like saying this because I think a lot of people operate under the assumption that every site must have them.

[2016-02-04 21:12] #45 closed

[2016-02-04 21:17] #47 closed

[2016-02-04 21:19] sarahpearson commented on #46
Actually, that's a separate issue than what I'm trying to get at here. Simply asking for a license from the uploader is a conflict when it comes to them uploading CC-licensed content they don't own. That's sub-licensing, which is prohibited by CC licenses.

[2016-02-04 21:24] sarahpearson commented on #48
@tvol Just above, we say that we strongly discourage the practice and that it undermines the purpose of the licenses. Beyond that, I'm not sure what else to do. If we can't convince people not to do it, the trademark is our only stick.

[2016-02-05 19:38] janeatcc commented on #48
@tvol Does this resolve your issue? Let me know so I can revise.

[2016-02-05 19:38] janeatcc commented on #46
@tvol Do you get it now?

[2016-02-05 20:16] #46 closed

[2016-02-05 20:20] #48 closed

[2016-02-05 20:34] robmyers commented on #43
We're planning to just generate a ridiculous number of colours. Lazy creation might be more efficient though.

[2016-02-05 20:41] mattl commented on #43
The server is so widely trafficked, I don't want us to generate anything on
the fly.

[2016-02-08 12:57] mzeinstra commented on #51
Hi Jane,

What I am missing on the marking page is the use are platforms that use CC as integral part of their system but are not content distributors. For example a travel agency that uses CC for the header and footer of their page. I think we should add an description about how to do proper attribution on a secondary page, like a page called copyright or colophon.

[2016-02-08 15:44] mattl commented on #51
I think that's out of scope for a platform toolkit.

[2016-02-08 16:34] janeatcc commented on #51
Yes, this is for marking wiki resources. You can move this issue to CC website I think: https://github.com/creativecommons/creativecommons.org/issues. Not sure who would take it up, but we can prioritize it there once it is filed.

[2016-02-08 21:29] #51 closed

[2016-02-09 01:17] janeatcc commented on #44
Made another round of edits. Can we refresh the html? Also, the images aren't showing up in the html. Let me know how to fix!

[2016-02-09 16:45] mattl commented on #44
The images are being embedded as GitHub pages, not the raw images.

https://raw.githubusercontent.com/creativecommons/mp/master/doc/images/Model%20default%20license.jpg is an example of the correct URL.

I'll update the HTML now.

[2016-02-09 17:10] janeatcc opened #52 "new html version lops off "http" from links"
eg. links now show up as "s://wiki.creativecommons.org/wiki/Marking"

Intentional? Do I have go through and fix and add "http" back in front of them all?

[2016-02-09 17:16] mattl commented on #52
Screenshot?

[2016-02-09 17:19] janeatcc commented on #52
<img width="601" alt="broken links toolkit" src="https://cloud.githubusercontent.com/assets/6394777/12924279/2096cf14-cf0e-11e5-8290-90f5d8934070.png">

see lower left for the hyperlink

[2016-02-09 17:21] mattl commented on #52
Looks like you changed them all here: https://github.com/creativecommons/mp/commit/d708d509879515ee5f6d736e3019e59f7879345d#diff-b7c9391938d375509dd16a1724756555

[2016-02-09 17:27] #52 closed

[2016-02-09 17:42] janeatcc commented on #44
@mattl so is this the right way to put it?

![Model default license](https://raw.githubusercontent.com/creativecommons/mp/master/doc/images/Model%20default%20license.jpg)

[2016-02-09 18:08] mattl commented on #44
Yeah, that looks like it works.

[2016-02-09 18:33] janeatcc commented on #44
Ok, another round of edits. Could you refresh html?

[2016-02-09 19:04] janeatcc commented on #44
<img width="1197" alt="images broken toolkit" src="https://cloud.githubusercontent.com/assets/6394777/12927393/e1dbde86-cf1c-11e5-85bd-31567ce8ddf3.png">

[2016-02-09 19:11] janeatcc commented on #43
Are these ready? Currently the link I have provided in the toolkit is to https://licensebuttons.net/i/cc-gift-guide/. Should I replace that with something else?

[2016-02-09 19:14] janeatcc commented on #44
How can I get the name of the image to not show up in the html version? See screenshot. It doesn't show up in Github preview though:

<img width="701" alt="image name toolkit" src="https://cloud.githubusercontent.com/assets/6394777/12927690/53d81f8a-cf1e-11e5-9216-7cfd50fd855a.png">

[2016-02-09 20:49] mattl commented on #43
@robmyers -- would be good to know what's up with these

[2016-02-09 20:57] mattl commented on #44
Those are fixed in the new version -- pandoc, was adding them to the markup. I've disabled that and added the build script for reference.

[2016-02-10 00:00] robmyers commented on #43
See private repo. We can generate and move into position. Which server?

[2016-02-16 18:39] janeatcc commented on #43
Where are we on this? I need to give some logos for a mobile app to a DOE platform. Should I point them to a gift guide or are some of these ready to share?

[2016-02-16 18:41] mattl commented on #43
I believe we have them, we just need to upload them.

[2016-02-16 18:49] janeatcc commented on #43
Cool. When do you think we can do that?

[2016-02-16 19:35] robmyers commented on #43
@janeatcc There's a problem with some of the two-icon buttons (by-sa, by-nd). I'm working on fixing this now but it will take several hours to rebuild and upload the buttons.

[2016-02-16 19:36] mattl commented on #43
rob, let's upload the ones we have for now... ping me on IRC and I'll get this going, as there's a lot of them.

[2016-02-16 19:49] robmyers commented on #43
@mattl I've put a fix in the git repo. Pinging.

[2016-02-17 23:39] mattl commented on #43
https://licensebuttons.net/i/

[2016-02-17 23:39] #43 closed

[2016-02-17 23:43] janeatcc commented on #44
Updated logos link! Now good to put on cc.org. What should the url be? maybe platform/toolkit? Fyi that cc.org/platform is reserved for the landing page for the initiative.

[2016-02-17 23:45] mattl commented on #44
creativecommons.org/platform/model-platform or something.

If it's reserved you should probably reserve it :)

---
Matt Lee
Creative Commons
Austin, TX, USA
3pm-11pm UTC

On Wed, Feb 17, 2016 at 5:43 PM, Jane <notifications@github.com> wrote:

[2016-02-17 23:47] janeatcc commented on #44
Well I already have the page drafted -- isn't that reserving enough?

I don't think model-platform as it's the toolkit, not model platform. let's do cc.org/platform/toolkit please!

[2016-02-18 03:24] mattl commented on #44
I guess it matters a bit less now we have the blog seperately, but if you
have a page in mind, can be worth just making a placeholder page there in
WordPress. I do it for @tvol all the time with campaigns and things.

[2016-02-18 16:42] janeatcc commented on #44
You mean a public placeholder page? The private placeholder page is already there.

[2016-02-23 15:57] janeatcc commented on #44
So this is ready to be moved. You'll see https://creativecommons.org/platform/ is already in private draft. Can you add the toolkit to a new page https://creativecommons.org/platform/toolkit? Let me know when it's up and I can do copyedit to make sure everything's in its right place.

[2016-03-08 00:19] janeatcc commented on #44
Can we try and get this up this week since it's low-hanging fruit? Unless the website redesign is imminent (eg. in the next month). I'm sending the link to the Github version (which doesn't have the TOC b/c I stripped I for WP) to platforms more frequently so it's just a big block of text ATM. Would be good to send them to .org page with TOC.

[2016-03-16 20:02] mattl commented on #44
K, done. https://creativecommons.org/platform/toolkit/ -- please make new issues for any updates that need to happen, and you can just edit the markdown here on GitHub, and I'll generate a new page and push it up.

[2016-03-16 20:02] #44 closed

[2016-03-23 17:24] robmyers commented on #41
@mattl Has this been prioritised?

[2016-03-23 18:43] mattl commented on #41
No, it was just unassigned to anyone.

[2016-03-23 19:15] robmyers commented on #41
OK cool. :-)

[2019-09-21 05:53] kgodey opened #53 "Redesign Platform Toolkit page"
_This is an Outreachy contribution task. Multiple people may complete this task, it will not be closed until the Outreachy winter 2019 contribution period ends._

---
Redesign the current version of CC’s platform toolkit webpage so that it looks clean and contemporary. Submit it as a pull request to this repository.

Usage of [CC Vocabulary](https://opensource.creativecommons.org/cc-vocabulary/) i

[2019-09-21 05:55] kgodey opened #54 "Mock up CC license workflow for a platform"
_This is an Outreachy contribution task. Multiple people may complete this task, it will not be closed until the Outreachy winter 2019 contribution period ends._

---
Create a mockup for how a website/content sharing platform that doesn’t currently offer CC licensing might introduce CC into their publishing workflow. Post your mockup here.

[2019-09-21 05:56] kgodey opened #55 "Document why someone would incorporate CC licensing into their platform"
_This is an Outreachy contribution task. Multiple people may complete this task, it will not be closed until the Outreachy winter 2019 contribution period ends._

---
Write up basic documentation that explains why and how (in general terms) someone might implement CC licensing into their tool, website, platform, or project. Post the documentation here (or a link to it).

[2019-09-21 05:57] kgodey opened #56 "Draft communications to platform end-users about CC licenses"
_This is an Outreachy contribution task. Multiple people may complete this task, it will not be closed until the Outreachy winter 2019 contribution period ends._

---
Draft a set of communications that explain to platform users (not platform owners, but their “end users”) what CC is and why they might choose to use it to make their work available to the public. Post the communications (or a link t

[2019-09-21 05:59] kgodey opened #57 "Redesign an existing CC license workflow"
_This is an Outreachy contribution task. Multiple people may complete this task, it will not be closed until the Outreachy winter 2019 contribution period ends._

---
Take an existing platform’s implementation of the CC licensing workflow and create a mockup of a redesign that is more user friendly.

[2019-09-21 07:02] kgodey opened #58 "Revise a page on the CC public wiki"
_This is an Outreachy contribution task. Multiple people may complete this task, it will not be closed until the Outreachy winter 2019 contribution period ends._

---
The [Creative Commons Wiki](https://wiki.creativecommons.org/) has a lot of old/inaccurate content. Revise one wiki page and post a link to your contribution here. Please ask questions about any content you are unsure of.

To get edi

[2019-10-01 20:21] apdsrocha commented on #54
Hi! I'm an Outreachy Applicant and I'd really like to try my hand at this task :)

[2019-10-02 04:59] mchesler613 commented on #58
Can you please give me some hints on which areas require updating?  Thanks. I'm from Outreachy.

[2019-10-02 08:51] treasurechristain commented on #54
Hi! I'm Amadikwa Joy an outreachy applicant and I'd really like to contribute on this task.

[2019-10-02 08:57] treasurechristain commented on #55
Hi! I'm Amadikwa Joy an outreachy applicant and I'd really like to contribute on this task.

[2019-10-02 15:06] kgodey commented on #54
Go ahead, post your mockups here.

[2019-10-02 15:07] mchesler613 commented on #58
@kgodey I would like to update this page, https://opensource.creativecommons.org/community/ to include the tag, #cc-gsoc-outreachy as I was led to this page but I couldn't navigate to find the outreachy channel on slack.  Is this something amenable to you?  I have signed up for a CCID, but I don't think my ID gives me sufficient permission to edit this page. Thanks.

[2019-10-02 15:41] NicoleOliv commented on #57
i'd like if you clarify this task. Why a mockup? isn't a mockup a preview of a product? doesn't make more sense to do something like a infographic? and i have another question: a licensing workflow means that i should demonstrate the process that it takes to have a CC licensing? is that it or i got it wrong? and existing platform implementation of the CC licensing is platforms like youtube, vimeo?

[2019-10-03 18:34] discombobulateme commented on #58
Hi @mchesler613 I have the same doubt as you, did you find a parameter to compare and update the pages? Thank you :)

[2019-10-03 18:36] mchesler613 commented on #58
Yes @discombobulateme   The FAQ page to compare with is here https://creativecommons.org/faq/

[2019-10-03 18:36] discombobulateme commented on #58
Thank you :) that was really nice @mchesler613

[2019-10-03 18:57] discombobulateme commented on #58
@mchesler613 I am a bit lost, but think we should ask for permission not here but on slack. Here says is on #cc-gsoc-outreachy but I think it's on #cc-outreachy-platform-toolkit ... just in case I posted on both. Mentors may be SUPER busy though, if I found out something I post it here for you as well :)

[2019-10-03 19:00] mchesler613 commented on #58
@discombobulateme Yes, this thread is for the Platform Toolkit and it's confusing to have this FAQ-related post here.  The WIKI FAQ thread is https://github.com/creativecommons/faq.  Thank you for sharing with me the same confusion.

[2019-10-03 19:18] discombobulateme commented on #58
@mchesler613 did you get the authorisation? Mentors are available on Slack at #cc-gsoc-outreachy :)

[2019-10-03 19:19] mchesler613 commented on #58
@discombobulateme Yes, I got the authorization from the Slack channel.

[2019-10-03 20:14] discombobulateme commented on #58
Hey all :) just made several changes on [Developers](https://wiki.creativecommons.org/wiki/Developers) based on [Join the CC Developer Community](https://opensource.creativecommons.org/community/), [Contributing Code](https://opensource.creativecommons.org/contributing-code/) and [Open Source at CC](https://opensource.creativecommons.org/). I tried to respect the previous scheme but updating infor

[2019-10-04 07:25] kgodey commented on #58
@discombobulateme nice work! I'd recommend updating the page to remove any duplicate information so that if anything on opensource.creativecommons.org changes, we don't also have to update the wiki. It's okay if the Developers wiki page is very short :)

[2019-10-04 08:21] discombobulateme commented on #58
Thanks @kgodey :) just a last question about it to move on, is it important to mention technologies being used? In the older page there were the mention, but it's really unupdated (got a screen shot to compare)
<img width="1043" alt="Screen Shot 2019-10-03 at 22 01 44" src="https://user-images.githubusercontent.com/7980624/66192421-b5b92680-e690-11e9-8e6e-589608e04c76.png">

[2019-10-04 15:55] kgodey commented on #58
No, you can delete the technologies being used section.

[2019-10-04 16:56] kgodey commented on #56
Answering a question asked on Slack: "Communications" might be emails or blog posts or any other method (up to you to decide).

[2019-10-04 18:49] kgodey commented on #57
Clarification on what "CC licensing workflow" means: On platforms like YouTube and Medium, once you create content, you can share it under a license, we're describing the UI that the platform uses to enable that as the "CC licensing workflow". e.g. see screenshots of the Medium workflow in this blog post: https://blog.medium.com/explicit-post-licensing-3aa1df783f8d

[2019-10-04 18:54] kgodey commented on #57
@NicoleOliv The platform toolkit project involves demonstrating to platforms how they should implement CC licensing on their platforms. A mockup of the UI they should use would be a great tool to use in this demonstration so that's why we suggest it. An infographic would also be helpful, if you want to do that instead, go ahead.

Taking a step back, the task for the platform toolkit is to create a

[2019-10-06 10:21] Sophi-E commented on #55
Hi. I'm an Outreachy applicant and i'm interested in working on this task.

[2019-10-06 16:41] discombobulateme commented on #54
Hi @kgodey! I would like to present a sketch... I'm working on an idea for this mockup (and I understand is missing lots of information still) based on simplifying the amount of text available on different parts of the website and wiki. My idea is to propose a mix between an infographic and a poster that could be transformed into a webpage as well (using cards for example). Before continuing I wou

[2019-10-07 17:47] haatifi commented on #55
Hello! I would like to work on this task. Thanks!

[2019-10-07 19:09] kgodey commented on #55
Go ahead

[2019-10-07 21:32] kgodey commented on #54
@discombobulateme thank you for posting this! please give me a day or two to review it. also tagging @ericsteuer.

[2019-10-08 21:52] treasurechristain commented on #55
Documentation that Explains why and How to implement CC License on a site/blog.
The moment you come up something new like video, project, or journals, you have the right to include Common Creative (cc) License. CC license is used when the initiator of an idea or an author decides to give the right to modify, share and/or use a work that he/she (the initiator or an idea or an author) have created.

[2019-10-10 04:50] shwetadhuliya2018 commented on #53
Hi @kgodey,
I would like to contribute to this issue.

[2019-10-10 16:21] shwetadhuliya2018 commented on #53
Hi @kgodey,
According to my understanding, Issue is to redesign this page- https://creativecommons.org/platform/toolkit/ . Please correct me if I am wrong.

[2019-10-10 16:23] kgodey commented on #53
Yes, that's correct.

[2019-10-10 16:25] shwetadhuliya2018 commented on #53
Thank you for confirming. I will share a redesigned version soon.

[2019-10-10 16:54] shwetadhuliya2018 commented on #53
Thank you. I will share the design soon.

[2019-10-10 23:28] haatifi commented on #55
Hi @kgodey,

Here is basic documentation for CC licensing. If you have any suggestions or comments please let me know!

[CC.pdf](https://github.com/creativecommons/mp/files/3714959/CC.pdf)

[2019-10-10 23:39] haatifi commented on #55
Hi @kgodey,

Here is basic documentation for CC licensing. If you have any suggestions or comments please let me know!

![CC](https://user-images.githubusercontent.com/10855618/66614065-85442180-eb95-11e9-9fc9-77f564381d96.jpeg)

[2019-10-11 04:07] ShanClayton commented on #53
Hi @kgodey,
I am an Outreachy applicant and would like to contribute to this issue as well.

[2019-10-12 00:54] kgodey commented on #55
hello @treasurechristain and @haatifi – thank you for your work! this explains why an individual person should license something they make under CC, but this is not what the question is (which is our fault, it is unclear). The question is about platforms, not individual users. e.g. why should a platform such as YouTube, Vimeo, Medium, etc. implement the option for its users to apply CC licenses to

[2019-10-12 01:00] kgodey commented on #54
@discombobulateme That's a great infographic, thank you! That covers how various content can be owned or licensed.

The specific issue here was for users selecting a CC license for their content e.g. see Medium's integration https://blog.medium.com/explicit-post-licensing-3aa1df783f8d but mockups of other parts of the platform toolkit are great too.

[2019-10-12 01:02] kgodey commented on #53
go ahead

[2019-10-13 04:44] NicoleOliv commented on #56
https://medium.com/@aced.portgas08/creative-commons-not-all-the-rights-reserved-b6a2c2a94161
here's the link of mine! I've tried to make a simple contribution, it might seem too big, but i swear it isn't! I've just tried to explain everything, even the things in the graphics.
i decide to make a questionnaire as a communication, because blog or emails seemed very difficult to me! I search for peopl

[2019-10-13 14:31] discombobulateme commented on #54
Hi @kgodey :) That's a very nice article, thank you for the reference! I'll share with you and @ericsteuer in a bit a project on how to make all this information in a more intuitive way. The content in this previous mock up was just an idea on how to deal with a lot of information bit by bit, in a format that could be more static or for the user to interact in the website. Will work more and share

[2019-10-13 19:08] NicoleOliv commented on #55
https://medium.com/@aced.portgas08/why-and-how-would-you-incorporate-creative-commons-licensing-into-your-tool-website-platform-or-2c41dffa2bb1?source=friends_link&sk=52deeb667927883891ee140741b858fb

hello, i tried this one, i did on medium and not here because i think it would seem more clear!
i tried to explain why and how a platform would implement that, but maybe its not too clear, i'm waitin

[2019-10-13 20:16] apdsrocha commented on #54
Hey @kgodey! Happy Sunday! :)  I've done a quick XD mock up of a Dribble-like interface trying to fit in a quick and easy licence selection process. Here's the link: https://xd.adobe.com/view/3056f702-9b1a-4216-7f74-e57e1321e5c2-4667/

Are you're interested in seeing my thinking process and UX/UI pattern studies? I'm bringing only XD sketches, but I could share the process here as well if it's imp

[2019-10-13 23:40] ShanClayton commented on #53
Great! Thank you. I will share it soon. Do we need to provide a mockup before we do a pull request?

[2019-10-14 00:15] corinthc commented on #57
Greetings everyone.
Thank you for the clarification @kgodey, I was also very lost.
This is what I came up with, to the best of my understanding.
Please take a look at it and let me know if I understood correctly😊.

**Files**
[Mockup Description.pdf](https://github.com/creativecommons/mp/files/3722602/Mockup.Description.pdf)
[Wireframe.pdf](https://github.com/creativecommons/mp/files/3722603/Wirefr

[2019-10-15 04:58] kgodey commented on #54
@discombobulateme sounds good!

@apdsrocha that looks great, thank you! (although those are not actually CC licenses, I assume they're just examples) I'd love to see your thinking process and UX/UI pattern studies as well. I think the next step here would be to be to actually use the six CC licenses and the terms they prescribe and see how that affects the choices.

This task is meant to be a piec

[2019-10-15 05:10] haatifi commented on #54
Hi @kgodey, so you would like to see a mockup that should demonstrate what options an end user has on a platform when they want to publish the work? Thanks! :)

[2019-10-15 05:13] haatifi commented on #55
Thanks for the clarification @kgodey. I will redo the documentation!

[2019-10-16 00:49] WeerakoonOS commented on #56
Hi, @kgodey . I would like to contribute to this issue.  Just to clarify things here, the requirement is to create a communication medium(email/ blog posts) that explains what CC is and why a user might choose to use it to make their work available to the public?

[2019-10-16 20:58] kgodey commented on #56
@WeerakoonOS, yes, from the perspective of a platform. for example, YouTube is a platform, you can choose to explain to YouTube users what CC is and why they should share their YouTube videos via a CC license.

[2019-10-16 23:56] apdsrocha commented on #54
@kgodey thank you for looking over it! Cool, I'll organize and share the studies I've done so far. This was just a minor "trial run" to see how I'd go about structuring the task, I'm detailing every step that would be needed for the actual internship project. I've run into a few questions, but I'll head them over to the slack channel. Thank you again!

[2019-10-18 21:05] annatuma commented on #56
@NicoleOliv thank you for your creative approach to this task. The research that you carried out, documented in your blog post, is an excellent precursor to preparing communications about how users might go about applying CC-licenses to their work through a publishing platform. We look forward to seeing your final project application.

[2019-10-18 21:10] annatuma commented on #55
@NicoleOliv you're on the right track. As mentioned on the other task you made a contribution to, we look forward to seeing your final application for the project.

[2019-10-18 21:15] annatuma commented on #54
@haatifi correct, imagine a user going to publish a work of some kind (image, video, text - anything) on a publishing platform, and think about the best way to build licensing options into the publishing flow.

@apdsrocha looking forward to reviewing your final application, the mockup you shared a few days ago was interesting.

[2019-10-19 01:12] NicoleOliv commented on #56
@annatuma oh my god@ thank you so much for you feedback! that means so much to me! please tell me if there's something that i should change or make it better

[2019-10-21 17:12] ShanClayton commented on #53
For clarification, am I submitting a mockup or would you like this coded?

[2019-10-21 17:13] kgodey commented on #53
@ShanClayton Either is fine, this is just an exercise.

[2019-10-21 22:51] kgodey commented on #57
@corinthc this is great work! I'm sure it will be useful for you for your final application :)

[2019-10-22 16:40] apdsrocha commented on #54
@kgodey @annatuma @ericsteuer Hey, happy Tuesday! I'm submitting here a study of everything I've done/seen so far, with a few broad ideas and how I think this task could be approached.  https://docs.google.com/presentation/d/13XqOtX7OZ70QxLHeJCf8TRoqibUEXgvabCWARgBksfI/edit?usp=sharing

I also set up a google docs (it's open for comments) to keep all the info, links, questions regarding my applica

[2019-10-23 04:09] treasurechristain commented on #55
https://medium.com/@amadikwajoyn/reasons-why-platforms-should-encourage-their-users-to-use-creative-common-license-on-their-work-dec9bd6adb56?sk=4b267f3ce2727577100b246cda633aa8

Hi @kgodey , i just published another one on my medium account. you can check it out their if you are unable to access the one i will be posting here. Waiting for feedback here. thank you

[2019-10-23 04:10] treasurechristain commented on #55
REASONS WHY PLATFORMS SHOULD ENCOURAGE THEIR USERS TO USE CREATIVE COMMON LICENSE ON THEIR WORK

Introduction
In the world today, we have thousands of creators or producers that do come up with different creative and lovely things such as videos, articles, moves and even tutorials. But most of the issues faced by such people is the fear of copyright. Some of these people also want their work to go

[2019-10-23 21:49] kgodey commented on #54
Thanks @apdsrocha! :)

[2019-10-23 22:57] corinthc commented on #57
Thank you

[2019-10-24 21:36] kgodey commented on #55
@treasurechristain thank you, this is great. hopefully the research you did for it will be useful in your final application!

[2019-10-26 18:41] treasurechristain commented on #55
@kgodey should I go ahead with the final contribution?
And please, who is my mentor?

[2019-10-28 21:45] kgodey commented on #55
@treasurechristain you have everything you need from Slack, right?

[2019-11-02 01:41] corinthc commented on #54
Greetings everyone.😊
Just want to share a mock license workflow for **Unsplash**
[License integration process.pdf](https://github.com/creativecommons/mp/files/3800012/License.integration.process.pdf)
Unsplash Mockup with License chooser - https://drive.google.com/open?id=1SmvBryVVIWSDNF4nbnj0xmM_NGxH1y-u
Unsplash Mockup with default license - https://drive.google.com/open?id=1QVLpGj7-gs4IXAnTDKTRL

[2019-11-04 11:19] treasurechristain commented on #55
@kgodey  yes, thank you. But still trying to construct my timeline very well

[2019-11-13 00:39] kgodey commented on #54
Thank you @corinthc!

[2019-11-27 23:46] kgodey commented on #58
Since the Outreachy application period is over, I'm going to close this issue.

[2019-11-27 23:46] #58 closed

[2019-11-27 23:46] kgodey commented on #57
Since the Outreachy application period is over, I'm going to close this issue.

[2019-11-27 23:46] #57 closed

[2019-11-27 23:46] kgodey commented on #56
Since the Outreachy application period is over, I'm going to close this issue.

[2019-11-27 23:46] #56 closed

[2019-11-27 23:46] kgodey commented on #55
Since the Outreachy application period is over, I'm going to close this issue.

[2019-11-27 23:46] #55 closed

[2019-11-27 23:46] kgodey commented on #54
Since the Outreachy application period is over, I'm going to close this issue.

[2019-11-27 23:46] #54 closed

[2019-11-27 23:46] kgodey commented on #53
Since the Outreachy application period is over, I'm going to close this issue.

[2019-11-27 23:46] #53 closed

[2020-07-14 17:48] kgodey opened #69 "Fix Platform Toolkit fonts"
There's a problem with the heading font

![Screen Shot 2020-07-14 at 3 31 15 PM](https://user-images.githubusercontent.com/894708/87468219-2eb5b900-c5e7-11ea-9484-7d75d63856fa.png)

I think the issue with the fact of `Roboto Condensed` is not included in the stack of Google fonts

[2020-07-15 17:18] #69 closed

[2020-08-22 11:46] palak199 opened #72 "Text on buttons overflows"
## Description

The text on the buttons overflows on mobile view. I have added screen shots for the same.

## Screenshots

![ss2](https://user-images.githubusercontent.com/43077980/90955411-e2d61980-e49a-11ea-8594-cadb3ecb2ab6.png)
![ss1](https://user-images.githubusercontent.com/43077980/90955414-e36eb000-e49a-11ea-9192-399acba9b9b7.png)

## Resolution

- [x] I would be interested in resolving th

[2020-08-24 16:53] kgodey commented on #72
Thanks for reporting this, @palak199, feel free to send a PR.

[2020-12-16 15:17] prsndp commented on #72
I want to contribute to this issue?? pls assign me

[2021-01-22 17:27] shubhanshu02 opened #76 "Text Overflow in Divs"
## Description
Text overflows in boxes under the "WHAT COMES AFTER IMPLEMENTATION" and "ABOUT" heading when viewed on devices with a width between 768px to around 1300px.

## Reproduction
1. Open this [link](https://creativecommons.org/platform/toolkit/).
2. Open the Developer Tools
3. Change the screen width accordingly
4. See the overflow.

## Expectation
There should not be any overflow in thes

[2021-01-25 19:18] zackkrida commented on #76
## Tips for fixing:

In lieu of changing `word-wrap` like one might think initially, I would recommend looking at removing or changing some hardcoded widths and heights from these cards as seen in the below screenshots:

<img width="771" alt="2021-01-25-123" src="https://user-images.githubusercontent.com/6351754/105754481-36d3a700-5eee-11eb-8df7-48e6eca21144.png">

<img width="771" alt="2021-01-25

[2021-01-25 19:54] cyberShaw commented on #76
Is this issue open for working on? I'm new and interested in Open Source and I'd love to contribute :D

[2021-01-25 21:38] zackkrida commented on #76
@cyberShaw sure thing! You can work on this.

[2021-02-01 20:55] abhipaiangle commented on #76
Is the issue fixed? I wanted to start working on it

[2021-02-01 21:28] zackkrida commented on #76
@abhipaiangle you're welcome to work on it as well, while we await any feedback from @cyberShaw 😄

[2021-02-02 08:24] Soundug commented on #76
Is this issue still open? I would like to work on this one. Please let me know.

[2021-02-02 08:33] Soundug commented on #72
Hello! If this issue is still open, I would like to work on this one.
Please let me know.

[2021-02-03 08:17] amruta-kashikar commented on #76
Is this issue open? I am new to open source and would like to contribute to this organization.

[2021-02-11 14:18] renuka142 commented on #76
hello @zackkrida , can I work on this issue as I am new to open source and this community!!

[2021-02-16 11:02] CapriciousRebel commented on #76
Hello, Is this issue still open? I would like to work on this one.

[2021-02-16 11:06] CapriciousRebel commented on #72
Hello, Is this issue still open? I would like to work on this one.

[2021-02-19 20:54] zackkrida commented on #76
Hi @CapriciousRebel you're welcome to work on this. Thank you

[2021-02-19 20:56] #76 closed

[2021-02-19 20:56] zackkrida commented on #76
Hi @CapriciousRebel this issue is closed, but there's a similar issue #72 you could look at. Thank you!

[2021-07-18 14:34] apisTrg93 opened #79 "[Feature] <Replace this with actual title>"
## Problem

## Description

## Alternatives

## Additional context

## Implementation

- [ ] I would be interested in implementing this feature.

[2022-09-07 18:33] ImaJin14 commented on #72
Hi @TimidRobot, if this issue is still open and valid I'll like to work on it...

[2022-10-12 17:19] JeffyDave commented on #72
Hi, Please I would love to work on this issue, can it be assigned to me?